set security zones security-zone SELF host-inbound-traffic system-services ping
set security zones security-zone SELF host-inbound-traffic system-services ssh
set security zones security-zone SELF host-inbound-traffic system-services snmp
set security zones security-zone SELF interfaces lo0.0

{% for zone in data['zones'] %}
set security zones security-zone {{ zone['name'] }} tcp-rst
set security zones security-zone {{ zone['name'] }} host-inbound-traffic system-services ping
set security zones security-zone {{ zone['name'] }} host-inbound-traffic protocols bgp
{% for interface in zone['interfaces'] %}
set security zones security-zone {{ zone['name'] }} interfaces {{ interface }}
{% endfor %}
{% endfor %}

{#sample input#}
{##}
{#data:#}
{#    zones:#}
{#        - name: IN#}
{#          interfaces:#}
{#            - xe-0/0/0.75#}
{#            - xe-0/0/0.76#}
{#        - name: OUT#}
{#          interfaces:#}
{#            - reth0.0#}
{#            - reth1.0#}